<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batalla Naval</title>
    
    <link rel="stylesheet" href="../Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

    <body>
            <center>
                <div class="content-title">
                    <p id="title">
                        Batalla Naval
                    </p><hr>
                </div>
            </center>
            <div id="content">

                <div id="cuerpo">

                </div>

            </div>

            <center>
                <a href="../../" class="btn btn-primary btn-salir">Salir</a>
            </center>


        <script src="../../App/app.js"></script>
    </body>
</html>